.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  background-color: #e9f2f7;
  color: #0645ad;
}

h4 {
  text-align: center;
}

.options {
  display: flex;
  align-items: center;
  text-align: center
}
